{% extends "main/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/user_auth/signup.css" %}
{% endblock extra_css %}
{% block content %}

    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="errorlist">
                        {% for error in field.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Sign Up">
    
    <p style="margin-top:5px">Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </form>
{% endblock %}


