{% extends "main/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main/send_msgs.css' %}">
{% endblock %}
{% block content %}

<form method="post">
        {% csrf_token %}

        {{form.as_p}}
        
        <input type="submit" value="Submit">
</form> 
{% if messages %}
{% for message in messages %}
    {% if message.tags == 'success' %}
        <script>
            // Display JavaScript alert after form submission
            alert('{{ message }}');
        </script>
    {% endif %}
{% endfor %}
{% endif %}

<br> <br>
<center><a href="{% url "main:home" %}" style="margin-top:5px;"> Get Your Own Messages </a>
</center>
{% endblock content %}
