/* General Styles */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Header Styles */
  header {
    background-color: #ff4d4d; /* Red */
    color: white;
    padding: 20px;
    font-family: 'Brush Script MT', cursive; /* Use cursive font */
    font-size: x-large;
    height: 12vh;
  }
  
  #mysteryText {
    
    margin: 0;
  }
  
  /* Footer Styles */
  footer {
    background-color: #4d4d4d; /* Dark gray */
    color: white;
    text-align: center;
    padding: 20px 0;
    height: 5vh;
  }
  
   /* Main Section Styles */
   #main {
    background-color: #ffd633; /* Orange */
    padding: 50px 0;
  }
  
  #main h2 {
    margin-bottom: 20px;
  }
  
  #main p {
    margin-bottom: 30px;
  }

  .content{
    min-height:85vh;

    padding: 2rem;
  }