/* Base styles with added responsiveness */
#mysteryMessage {
    width: 720px; /* Original width */
    max-width: 96%; /* Ensure it doesn't exceed the viewport width */
    height: 1280px; /* Original height */
    background-color: black;
    position: relative;
    /* border: 2px solid white; */
    text-align: center;
    padding-top: 20px;
    margin: auto; /* Center the div horizontally */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

#messageBox {
    width: 80%;
    max-width: 600px; /* Adjust based on parent size, not screen size */
    margin: 0 auto; /* Center it within its parent */
    margin-top: 200px; /* Original margin from the top */
}

#messageContent {
    height: 50%;
    background: linear-gradient(to right, red, orange); /* Retain gradient */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 1rem 1rem 0 0; /* Rounded corners on top */
}

#messageContent p, #messageText p {
    margin: 0;
}

#messageContent #nickname {
    font-weight: bold;
    color: #ffffff; /* Ensure nickname is visible */
}

#messageText {
    height: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 0 0 1rem 1rem; /* Rounded corners on bottom */
}

#shareText {
    color: black;
    cursor: pointer;
    font-size: 20px; /* Original font size for share text */
}
#shareText:hover {
    color: green; /* Hover effect for share text */
    font-size: 22px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #mysteryMessage {
        width: auto; /* Allow the width to adjust to smaller screens */
        height: auto; /* Adjust height based on content */
        min-height: 500px; /* Minimum height to maintain some form */
        padding-top: 10px; /* Reduced padding */
    }

    /* #messageBox {
        margin-top: 100px; 
    } */
   
    /* Optionally adjust font sizes, padding, or other properties for smaller screens */
}

#mysteryText2{
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: xx-large;
}
