
/* Base styles */
#mysteryMessage {
    width: 720px;
    max-width: 96%; /* Ensure it doesn't exceed the screen width */
    height: auto; /* Make height responsive */
    background-color: black;
    position: relative;
    border: 2px solid white;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto; /* Center horizontally */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#messageBox {
    width: 80%;
    max-width: 600px; /* This should already constrain its width on mobile */
    margin: 20px auto 0; /* Increased top margin, auto centers horizontally */
    padding: 0 10px; /* Add some padding */
    box-sizing: border-box;
}

#messageContent, #messageText {
    padding: 20px;
    box-sizing: border-box; /* Include padding in the height calculation */
}

/* Adjustments for smaller devices */
@media (max-width: 768px) {
    #mysteryMessage {
        width: auto; /* Allow it to adjust based on screen size */
        border-width: 1px; /* Thinner border on smaller screens */
        padding-top: 10px; /* Less padding on top */
    }

    #messageBox {
        margin-top: 10%; /* Use percentage to give dynamic spacing based on screen height */
    }

    #messageContent, #messageText {
        padding: 10px; /* Less padding for smaller screens */
    }
}

/* Styles for text and Instagram icon, assuming they're fine as they are */
#shareText {
    color: black;
    cursor: pointer;
    font-size: 20px;
}
#shareText:hover {
    color: green;
    font-size: 22px;
}

.instagram-icon::before {
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
    margin-right: 5px;
}
